<div class="card">
  <div class="card-header text-center">
    <div class="card-body">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner  d-flex "
           style="height: 50vh; min-height: 20rem; max-height: 30rem">
  
            <div *ngFor="let image of images; index as i; first as firstImage"
            
            class="carousel-item align-self-center"
              [ngClass]="{ active: firstImage }"
            style="height: 100%; width: 100%">
               <img
            src="https://localhost:44398/wwwroot/{{image.imagePath}}"
            class=""
            style="height: 100%; width: 100%; object-fit: contain"
            alt="imageUrl + image.imagePath"
          />
            </div>
           </div>
            <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
      </div>
  </div>
<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status"> 
  <span class="visually-hidden">Loading...</span>
</div>  

<div class="list-group border-success mb-3">
  <table *ngIf="dataLoaded==true" class="table table-hover">
      <thead>
          <tr class="table-secondary">
              <th scope="col" style="text-align: center;">Id</th>
              <th scope="col" style="text-align: left;" >Marka</th>
              <th scope="col" style="text-align: left;">Renk</th>
              <th scope="col" style="text-align: left;">Günlük Fiyatı</th>
              <th scope="col">Kirala</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let car of cars" style="text-align: center;">
              <td style="text-align: center;">{{ car.carId }}</td>
              <td style="text-align: left;">{{ car.brandName }}</td>
              <td style="text-align: left;">{{ car.colorName }}</td>
              <td style="text-align: left;">{{ car.dailyPrice }}</td>
              <td ><button routerLink="/cars/rental/{{car.carId}}"  type="button" class="btn btn-success">Kirala</button></td>
          </tr>
      </tbody> 
  </table>
</div>