<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status"> 
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="list-group border-success mb-3">
    <table *ngIf="dataLoaded==true" class="table-dark col-md-6">
        <thead>
            <tr >
                <th scope="col" style="background-color:black">Id</th>
                <th scope="col" style="background-color:black">Model Yılı</th>
                <th scope="col" style="background-color:black">Günlük Fiyatı</th>
                <th scope="col" style="background-color:black">Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td scope="row" style="background-color:gray">{{ car.carId }}</td>
                <td scope="row" style="background-color:gray">{{ car.modelYear  }}</td>
                <td scope="row" style="background-color:gray">{{ car.dailyPrice }}</td>
                <td scope="row" style="background-color:gray">{{ car.description }}</td>
            </tr>
        </tbody> 
    </table>
  </div>
