<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status"> 
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table *ngIf="dataLoaded==true" class="table-dark">
    <thead>
        <tr >
            <th style="background-color:gray">Id</th>
            <th style="background-color:gray">Müşteri</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td style="background-color:black">{{ customer.userId }}</td>
            <td style="background-color:black">{{ customer.companyName }}</td>
        </tr>
    </tbody> 
  </table>